{% extends "base.html" %}

{% set titulo = "Cadastro" %}

{% block conteudo %}
<div class="min-vh-100">
  <main class="container">
      <form action="/post_cadastro" method="post">
        <div class="mb-3 form-floating">
          <input
              class="form-control"
              type="text"
              name="nome"
              id="nome"
              placeholder=" "
          >
          <label class="form-label" for="nome">Nome do Produto</label>
      </div>
      <div class="mb-3 form-floating">
          <select class="form-control" name="categoria" id="categoria">
              <option value="Alimentos">Alimentos</option>
              <option value="Limpeza">Limpeza</option>
              <option value="Eletrônicos">Eletrônicos</option>
              <option value="Brinquedo">Brinquedos</option>
              <option value="Vestuario">Vestuario</option>
              <option value="Automotivo">Automotivo</option>
              <option value="Esporte e Lazer">Esporte e Lazer</option>
          </select>
          <label class="form-label" for="categoria">Categoria</label>
      </div>
      <div class="mb-3 form-floating">
        <input
            class="form-control"
            type="text"
            name="descricao"
            id="descricao"
            placeholder=" "
        >
        <label class="form-label" for="descricao">Descrição</label>
    </div>
      <br>
      <div class="mb-3 form-floating">
          <input
              class="form-control"
              type="text"
              name="estoque"
              id="estoque"
              placeholder=" "
          >
          <label class="form-label" for="estoque">Estoque</label>
          <br>
          <div class="mb-3 form-floating">
              <input
                  class="form-control"
                  type="number"
                  name="preco"
                  id="preco"
                  placeholder=" "
              >
              <label class="form-label" for="preco">Preço</label>
          </div>
          <div class="mb-3">
              <button class="btn btn-dark btn-lg" type="submit">Enviar</button>
          </div>
      </form>
  </main>
</div>
{% endblock %}