{% extends "base.html" %}
{% set titulo = "Página Principal" %}
{% block conteudo %}
<p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos natus omnis placeat ratione quo saepe officiis cupiditate perspiciatis minima deleniti assumenda facere ut doloribus, reprehenderit mollitia ducimus! Facilis possimus quasi esse. Amet quas maxime magnam, ad voluptatibus maiores, aliquam explicabo officiis odit magni illo sequi doloremque nisi officia eius, voluptas harum natus aut fugiat neque consectetur reprehenderit eum. Voluptas suscipit sapiente dolore molestiae corporis vero id officia officiis at, rerum adipisci repellendus magnam voluptatibus tempora temporibus debitis maxime aperiam tempore?</p>
{% endblock %}